<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" />
    <title>My Contact List</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1 id="headline">My Contact List</h1>
            <div class="group">
                <div class="added">Personas Agregadas: <span class="vacia">{{no_personas}}</span></div>
            </div>            
        </header>

        <button class="btn-toggle">Ocultar Lista</button>

        <div class="list-container">
            {% for persona in info_persona %}
            <ul>
                <li>Num de registro: {{persona.dni}}:
                    Nombre(s): {{persona.nombres}} {{persona.apellido_paterno}}
                    <span class="a-span">
                    <a href="detalles_persona/{{persona.dni}}">Detalles</a>
                    <a href="editar_persona/{{persona.dni}}">Editar</a>
                    <a href="eliminar_persona/{{persona.dni}}">Eliminar</a>
                    </span>
                </li>
            {% endfor %}
            <div class="agregar">
                <a href="nueva_persona.html">Agregar Nueva Persona!</a>
            </div>
            </ul>
        </div>

    </div>
    
</body>
</html>